@import url(http://fonts.googleapis.com/css?family=Chivo); /*Google WebFont*/

body {
	color:#003399; /*Font Color*/
	font-family: 'Chivo', sans-serif; /*Page Font*/
}

div#title {
	/*Text*/
	font-size:55px;/*Text Size*/
	color:#FFFFFF; /*Font Color*/
	background-color:#003399;/*Background Color*/
	/*Padding*/
	Padding-left:10px;/*Left Padding*/
	/*Padding-bottom:15px;*/
}
div#content {
	height:90px;
	width:100%;
}
div#content div#contact {
	color:#FFFFFF; /*White*/
	text-align:right;
	margin-top:-55px;
	margin-right: 10px;
}
div#content div#schoolin {
	padding:5px;
	float:left;
	background-color:66CC66;/* Light Green */
	height:100%;
	width:24%;
}
div#content div#work {
	padding:5px;
	float:left;
	background-color:FFCC00;/* Light Orange */
	height:100%;
	width:24%;
}
div#content div#volunteer {
	padding:5px;
	float:left;
	background-color:66CC66;/* Light Green */
	height:100%;
	width:24%;
}
div#content div#accomplishments {
	padding:5px;
	float:left;
	background-color:FFCC00;/* Light Orange */
	height:100%;
	width:24%;
	width:24%;
}
div#inner {
	padding-left:10px;
}
